#cartoon {
    --line: #222;
    --skin: #a88165;
    width: 80vmin;
    height: 80vmin;
    background: #f007;
    background-image:
        repeating-linear-gradient(#0000 0 9.5%, #0002 10%),
        repeating-linear-gradient(to left, #0000 0 9.5%, #0002 10%)
        ;

    /* centers the div horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color: var(--line);
}

#cartoon div,
#cartoon div.ha,
#cartoon div.hb {
    content: "";
    display: block;
    position: absolute;
}

.face {
    width: 45%;
    height: 60%;
    background: var(--skin);
    top: 20%;
    left: 50%;
    transform:translate(-50%, 0%);

    border-radius: 100% / 60% 60% 120% 120%;
}

.mouth {
    width: 45%;
    height: 15%;
    border-radius: 100%;
    box-shadow: -0.83vmin 1.4vmin 0 -1vmin;
    top: 68%;
    left: 50%;
    transform:translateX(-50%) rotate(5deg);
}