#cartoon {
    --line: #222;
    --skin: #a88165;
    --iris: #492816;
    width: 80vmin;
    height: 80vmin;
    background: #f007;
    background-image:
        repeating-linear-gradient(#0000 0 9.5%, #0002 10%),
        repeating-linear-gradient(to left, #0000 0 9.5%, #0002 10%)
        ;

    /* centers the div horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color: var(--line);
}

#cartoon div,
#cartoon div.ha,
#cartoon div.hb {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
}

.face {
    width: 45%;
    height: 60%;
    background: var(--skin);
    top: 20%;
    left: 50%;
    transform:translate(-50%, 0%);
    border-radius: 100% / 60% 60% 120% 120%;
    border: 0.5vmin solid;
    border-bottom-width: 0.75vmin;
    border-top-width: 0.33vmin;
}

.mouth {
    width: 45%;
    height: 15%;
    border-radius: 100%;
    box-shadow: -0.83vmin 1.4vmin 0 -1vmin;
    top: 68%;
    left: 50%;
    transform:translateX(-50%) rotate(5deg);
}

.ear {
    width: 15%;
    height: 25%;
    background: var(--skin);
    border: 0.5vmin solid;
    border-radius: 100% / 50% 50% 20% 120%; 
    box-shadow: -0.25vmin --0.25vmin;
    top: 42%;
    left: 20%;
    transform: rotate(-10deg);
}

.ear + .ear {
    left: auto;
    right: 20%;
    transform: scaleX(-1) rotate(-13deg);
}

.eye {
    width: 25%;
    height: 25%;
    background: #fff;
    border: 0.5vmin solid;
    border-right-width: 0.33vmin;
    top: 30%;
    left: 15%;
    border-radius: 100% / 100% 60% 15% 20%;
}

.pupil {
    width: 5vmin;
    height: 5vmin;
    background: var(--iris);
}